<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/about.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=about" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/about/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/about/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">公司简介</p>
                    <p>重新定义音视频及弱电集成行业，</p>
                    <p>为我们的客户、员工及合作伙伴提供可持续的价值！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="about-view-a">
        <article class="article-content">
            <div><img class="response-img" src="../../src/images/about/img1.png" alt=""></div>
            <div class="a-info">
                <p class="title">我们是谁</p>
                <p>卓思韦尔是一家具有国际视野的IT信息化综合服务的系统供应商，</p>
                <p>致力于开发、集成和优化不断发展的IT技术环境，</p>
                <p>以使我们的客户能够在数字化时代保持领先。</p>
                <p>我们成立于2013年，总部位于北京，</p>
                <p>我们在上海、武汉、西安、成都设有分支机构和备件中心。</p>
                <p>我们的海外业务遍布五大洲，11个国家/地区。</p>
            </div>
        </article>
    </div>
    <div class="about-view-b">
        <article class="article-content">
            <p class="title">我们的优势</p>
            <ul>
                <li>
                    <img src="../../src/images/about/img2.png" alt="">
                    <p class="title">国际视野</p>
                    <p>专注服务世界500强和跨国公司，<br />具国际视野</p>
                </li>
                <li>
                    <img src="../../src/images/about/img3.png" alt="">
                    <p class="title">资深专家</p>
                    <p>超过15年行业经验和资质的<br />专业售前、实施和服务团队</p>
                </li>
                <li>
                    <img src="../../src/images/about/img4.png" alt="">
                    <p class="title">全球部署</p>
                    <p>提供IT综合服务、系统集成、<br />运维维保等服务的全球化部署</p>
                </li>
                <li>
                    <img src="../../src/images/about/img5.png" alt="">
                    <p class="title">持续创新</p>
                    <p>我们识别和适应新技术的能力<br />能够帮助客户保持技术领先</p>
                </li>
            </ul>
        </article>
    </div>
    <div class="contact-tem about-view-c">
        <img class="response-img" src="../../src/images/about/img6.png" alt="">
        <div class="embed">
            <div>
                <p class="title">我们的客户</p>
                <p>借助我们领先的服务平台，使众多企业成功的向数字化管理转变，以无与伦比的性能运</p>
                <p>行其IT基础架构、实现高效的协作，降低运营成本和人员的工作负载。</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/case.html">了解更多</a></p>
            </div>
        </div>
    </div>

    <div class="about-view-d">
        <article class="article-content">
            <p class="title">公司发展历程</p>
            <ul>
                <div>2019</div>
                <li>获得国家高新技术企业认证、北京市高新技术企业认证</li>
                <li>成立成都办事处</li>
                <li>成立产品研发中心</li>
            </ul>
            <ul>
                <div>2018</div>
                <li>正式签约Zoom，成为原厂授权经销商</li>
                <li>卓思韦尔成为舟山波音完工中心智能化音视频项目服务商</li>
                <li>卓思韦尔IT新技术服务走进满帮集团（货车帮）</li>
            </ul>
            <ul>
                <div>2017</div>
                <li>卓思韦尔新加坡分公司正式运营</li>
                <li>卓思韦尔正式签约今日头条，成为其旗下产品IT基础架构和云视频协作的服务商</li>
                <li>卓思韦尔武汉办事处正式成立</li>
            </ul>
            <ul>
                <div>2016</div>
                <li>卓思韦尔正式成为嘀嘀出行视频协作服务商</li>
                <li>卓思韦尔西安办事处正式成立</li>
            </ul>
            <ul>
                <div>2015</div>
                <li>卓思韦尔上海分公司正式成立</li>
                <li>卓思韦尔成为优步中国区IT基础架构和云视频协作服务商</li>
                <li>卓思韦尔成为Zoom中国区唯一原厂授权合作伙伴</li>
                <li>卓思韦尔为谷歌中国区提供智能化会议集成服务</li>
            </ul>
            <ul>
                <div>2013</div>
                <li>卓思韦尔与NEC、Kramer、Philips等成为战略合作伙伴</li>
            </ul>
            <ul>
                <div>2012</div>
                <li>卓思韦尔正式成立</li>
            </ul>
        </article>
    </div>
    <article class="article-content about-view-e">
        <div>
            <img class="response-img" src="../../src/images/about/img7.png" alt="">
            <a target="_parent" href="../views/culture.html"><span>企业文化</span></a>
        </div>
        <div>
            <img class="response-img" src="../../src/images/about/img8.png" alt="">
            <a target="_parent" href="../views/aptitude.html"><span>资质荣誉</span></a>
        </div>
        <div>
            <img class="response-img" src="../../src/images/about/img9.png" alt="">
            <a target="_parent" href="../views/partner.html"><span>合作伙伴</span></a>
        </div>
        <div>
            <img class="response-img" src="../../src/images/about/img10.png" alt="">
            <a target="_parent" href="../views/news.html"><span>新闻动态</span></a>
        </div>
    </article>
    
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>