<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/aptitude.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=aptitude" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/aptitude/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/aptitude/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">资质荣誉</p>
                    <p>服务保障、技术领先</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <article class="article-content aptitude-view-a">
        <p>卓思韦尔已获得多项由国家权威机构颁发的认证证书
            <br />包括音视频、数据中心、智能化等多项资质
            <br />我们还是国家高新技术企业、中关村高新技术企业
            <br />是技术领先，客户放心的专业IT信息化综合服务系统供应商</p>
        <ul style="padding-top: 100px;">
            <li>
                <img class="response-img" src="../../src/images/aptitude/img2.png" alt="">
                <p>国家高新技术企业证书</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/aptitude/img1.png" alt="">
                <p>中关村高新技术企业证书</p>
            </li>
            <li>
                <img class="img-response" src="../../src/images/aptitude/img3.png" alt="">
                <p>电子与智能化工程资质</p>
            </li>
            <li>
                <img class="img-response" src="../../src/images/aptitude/img4.png" alt="">
                <p>建筑业企业资质</p>
            </li>
        </ul>
        <ul>
            <li>
                <img class="img-response" src="../../src/images/aptitude/img5.png" alt="">
                <p>增值电信业务许可证</p>
            </li>
            <li>
                <img class="img-response" src="../../src/images/aptitude/img6.png" alt="">
                <p>ISO9001认证</p>
            </li>
            <li>
                <img class="img-response" src="../../src/images/aptitude/img7.png" alt="">
                <p>ISO14004认证</p>
            </li>
            <li>
                <img class="img-response" src="../../src/images/aptitude/img8.png" alt="">
                <p>安全生产许可证</p>
            </li>
        </ul>
        <ul>
            <li>
                <img class="img-response" src="../../src/images/aptitude/img9.jpg" alt="" style="margin-top: 15px;">
                <p>建筑装修装饰工程专业承包</p>
            </li>
            <li style="opacity: 0;"></li>
            <li style="opacity: 0;"></li>
            <li style="opacity: 0;"></li>
        </ul>
    </article>
    
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>