<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/case.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=case" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/case/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/case/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">客户案例</p>
                    <p>了解我们如何帮助客户成长</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <article class="article-content case-view-a">
        <div class="fl case-tab">
            <div class="active" tab="0"><span>互联网</span></div>
            <div tab="1"><span>金融</span></div>
            <div tab="2"><span>能源</span></div>
            <div tab="3"><span>医疗</span></div>
            <div tab="4"><span>电子信息&服务</span></div>
            <div tab="5"><span>汽车&制造</span></div>
            <div tab="6"><span>其他</span></div>
        </div>
        <div class="fr case-tab-content">
            <p>多年来，卓思韦尔已为多家企业提供令他们满意的</p>
            <p>IT新技术服务，并提供可持续的价值</p>
            <div class="active" tab="0">
                <div class="logo-tab-1">
                    <img src="../../src/images/case/logo1.png" alt="">
                    <img src="../../src/images/case/logo2.png" alt="">
                    <img src="../../src/images/case/logo3.png" alt="">
                    <img src="../../src/images/case/logo4.png" alt="">
                    <img src="../../src/images/case/logo5.png" alt="">
                    <img src="../../src/images/case/logo6.png" alt="">
                    <img src="../../src/images/case/logo7.png" alt="">
                    <img src="../../src/images/case/logo8.png" alt="">
                    <img src="../../src/images/case/logo9.png" alt="">
                    <img src="../../src/images/case/logo10.png" alt="">
                    <img src="../../src/images/case/logo11.png" alt="">
                    <img src="../../src/images/case/logo28.png" alt="">
                </div>
            </div>
            <div tab="1">
                <div>
                    <img src="../../src/images/case/logo12.png" alt="">
                    <img src="../../src/images/case/logo13.png" alt="">
                    <img src="../../src/images/case/logo15.png" alt="">
                    <img src="../../src/images/case/logo16.png" alt="">
                    <img src="../../src/images/case/logo17.png" alt="">
                    <img src="../../src/images/case/logo18.png" alt="">
                    <img src="../../src/images/case/logo48.png" alt="">
                    <img src="../../src/images/case/logo49.png" alt="">
                    <img src="../../src/images/case/logo61.png" alt="">
                </div>
            </div>
            <div tab="2">
                <div>
                    <img src="../../src/images/case/logo19.png" alt="">
                    <img src="../../src/images/case/logo20.png" alt="">
                    <img src="../../src/images/case/logo21.png" alt="">
                    <img src="../../src/images/case/logo22.png" alt="">
                    <img src="../../src/images/case/logo50.png" alt="">
                </div>
            </div>
            <div tab="3">
                <div>
                    <img src="../../src/images/case/logo23.png" alt="">
                    <img src="../../src/images/case/logo24.png" alt="">
                    <img src="../../src/images/case/logo25.png" alt="">
                    <img src="../../src/images/case/logo26.png" alt="">
                    <img src="../../src/images/case/logo44.png" alt="">
                    <img src="../../src/images/case/logo27.png" alt="">
                    <img src="../../src/images/case/logo56.png" alt="">
                    <img src="../../src/images/case/logo57.png" alt="">
                </div>
            </div>
            <div tab="4">
                <div>
                    <img src="../../src/images/case/logo33.png" alt="">
                    <img src="../../src/images/case/logo34.png" alt="">
                    <img src="../../src/images/case/logo35.png" alt="">
                    <img src="../../src/images/case/logo29.png" alt="">
                    <img src="../../src/images/case/logo46.png" alt="">
                    <img src="../../src/images/case/logo47.png" alt="">
                </div>
            </div>
            <div tab="5">
                <div>
                    <img src="../../src/images/case/logo36.png" alt="">
                    <img src="../../src/images/case/logo37.png" alt="">
                    <img src="../../src/images/case/logo38.png" alt="">
                    <img src="../../src/images/case/logo39.png" alt="">
                    <img src="../../src/images/case/logo30.png" alt="">
                    <img src="../../src/images/case/logo31.png" alt="">
                    <img src="../../src/images/case/logo32.png" alt="">
                    <img src="../../src/images/case/logo58.png" alt="">
                </div>
            </div>
            <div tab="6">
                <div>
                    <img src="../../src/images/case/logo41.png" alt="">
                    <img src="../../src/images/case/logo42.png" alt="">
                    <img src="../../src/images/case/logo43.png" alt="">
                    <img src="../../src/images/case/logo45.png" alt="">
                    <img src="../../src/images/case/logo51.png" alt="">
                    <img src="../../src/images/case/logo52.png" alt="">
                    <img src="../../src/images/case/logo53.png" alt="">
                    <img src="../../src/images/case/logo54.png" alt="">
                    <img src="../../src/images/case/logo55.png" alt="">
                    <img src="../../src/images/case/logo59.png" alt="">
                    <img src="../../src/images/case/logo60.png" alt="">
                </div>
            </div>
        </div>
    </article>
    <div class="case-view-b">
        <div class="b-white"></div>
        <p class="title">经典案例</p>
        <article class="article-content case-li">
            <div>
                <div>
                    <img class="response-img" src="../../src/images/case/img1.png" alt="">
                    <div class="info">
                        <p class="title">谷歌</p>
                        <p>谷歌被公认为是全球最大的搜索引擎公司。作为全球化的高科技公司，谷歌采用全球统一的AV系统与设备标准，对集成商的专业化、实施经验和实施美观度都有很高的要求。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">智能化会议集成服务</p>
                        <p>我们为谷歌提供智能化会议系统集成服务，包含多功能Tech Talk培训教室、视频会议室、数字展示系统等。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
                <div>
                    <img class="response-img" src="../../src/images/case/img8.png" alt="">
                    <div class="info">
                        <p class="title">字节跳动</p>
                        <p>字节跳动旗下拥有多款具有影响力的产品，目前公司的产品和服务已覆盖全球150个国家和地区。随着业务的快速发展和人员规模的增长，团队的沟通和协作变得越来越频繁和重要。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">IT基础架构和云视频协作服务</p>
                        <p>我们为客户定制了云协作和IT基础架构标准，实现了全国部署，实施超过200间机房、2000个Zoom视频会议室、和10000个全球员工账号。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
                <div>
                    <img class="response-img" src="../../src/images/case/img3.png" alt="">
                    <div class="info">
                        <p class="title">Oculus</p>
                        <p>Oculus是美国的一家科技公司，它创立于2012年，专注于虚拟现实硬件和软件产品的研发和设计。2014年被Facebook以23亿美元的价格收购。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">AV系统搭建</p>
                        <p>我们为Oculus搭建一体化的Cisco高清视频会议系统，实现身临其境的会议体验。项目分布在上海、潍坊、苏州等多个城市。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <img class="response-img" src="../../src/images/case/img7.png" alt="">
                    <div class="info">
                        <p class="title">滴滴</p>
                        <p>滴滴是全球卓越的一站式多元化出行平台，总部位于北京，业务覆盖全球5个国家，需要建立全球一致的协作系统。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">云视频协作服务</p>
                        <p>项目涵盖多种规模的会议室、培训室、接待室、前台&休闲区等，满足全球团队的远程协作和高效沟通。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
                <div>
                    <img class="response-img" src="../../src/images/case/img5.png" alt="">
                    <div class="info">
                        <p class="title">英菲尼迪</p>
                        <p>英菲尼迪于1989年诞生于北美地区。凭借独特前卫的设计、出色的产品性能和贴心的客户服务，迅速成为全球豪华汽车市场中最重要的品牌之一。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">总部大楼音视频系统设计及集成</p>
                        <p>我们为英菲尼迪搭建多媒体展厅、董事会议室、培训室、信息发布系统等，实现高效协作和高品质的形象展示。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
                <div>
                    <img class="response-img" src="../../src/images/case/img4.png" alt="">
                    <div class="info">
                        <p class="title">迅达集团</p>
                        <p>迅达集团是全球领先的电梯、自动扶梯、自动人行道及相关服务的供应商。拥有超过60000名迅达员工遍布于全球100多个国家和地区，中国是全球五大生产基地之一。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">整体音视频展示、会议协作</p>
                        <p>迅达集团中国区总部新建大楼，总建筑面积20000㎡，我们为迅达集团提供整体音视频展示、会议协作方案。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <img class="response-img" src="../../src/images/case/img9.png" alt="">
                    <div class="info">
                        <p class="title">波音</p>
                        <p>舟山波音完工中心有限公司位于浙江省舟山航空产业园区内，是波音公司在美国之外首次建立飞机完工中心，飞机交付能力预计达到每年100架。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">会议室&培训室</p>
                        <p>项目采用波音全球一致的会议室标准，要求具有人体感应联动和本地扩声，远程视频会议室需要双屏显示。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
                <div>
                    <img class="response-img" src="../../src/images/case/img2.png" alt="">
                    <div class="info">
                        <p class="title">联合利华</p>
                        <p>联合利华研发中心（上海）是全球六大研发中心之一，占地面积约3万平方米，投入达5000万欧元，任用来自于全球15个国家的450多位研发人员。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">AV系统解决方案</p>
                        <p>我们为联合利华解决了现场设备老化、故障点多，话筒信号差等问题，重新打造了满足当前的办公需求的音视频系统。 </p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
                <div>
                    <img class="response-img" src="../../src/images/case/img6.png" alt="">
                    <div class="info">
                        <p class="title">红帽</p>
                        <p>红帽于1993年成立于美国北卡罗莱纳州，是世界领先的开源解决方案提供商。截止到2018年，在全球35个国家/地区拥有超过85个分公司/办事处。</p>
                    </div>
                    <div class="info-hover">
                        <p class="title">会议室综合方案</p>
                        <p>我们为红帽芳草地及融科资讯中心所有会议室提供本地会议及远程高清视频会议的解决方案。</p>
                        <p class="info-hover-btn"><a class="well-button" type="orange" target="_parent" href="./contact.html">了解更多</a></p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />

    <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/case.js"></script>
</body>
</html>