<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/cloud.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=cloud" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/cloud/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/cloud/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">云协作</p>
                    <p>简单、高效、愉悦，不再为团队协作而烦恼！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="cloud-view-a">
        <article class="article-content">
            <div class="zoom"><img src="../../src/images/cloud/zoom.png" alt=""></div>
            <p class="view-title">简单便捷的云视频会议方案</p>
            <p>Zoom是全球在线会议服务的领导者，</p>
            <p>具有使用简便、性能可靠、扩展便捷等特点，适用于多种在线会议和协作的场景。</p>
            <p>目前，我们已经帮助近百家企业的数万名员工通过Zoom实现更具协作性，</p>
            <p>生产力更高的企业战略。</p>
            <p class="btn"><a class="well-button" type="orange" target="_blank" href="http://zoom-us.cn">了解Zoom</a></p>
        </article>
    </div>
    <div class="cloud-view-b">
        <article class="article-content">
            <p class="view-title">以用户为核心</p>
            <p class="view-title">提供全面的Zoom方案与服务</p>
            <div class="b-content">
                <div class="b-content-img">
                    <img class="active" src="../../src/images/cloud/img16.png" alt="">
                    <img src="../../src/images/cloud/img13.png" alt="">
                    <img src="../../src/images/cloud/img14.png" alt="">
                    <img src="../../src/images/cloud/img15.png" alt="">
                </div>
                <ul>
                    <li class="active">在线视频会议方案
                        <p>无论是个人电脑、手机还是触控一体机等终端
                            <br />都可以随时随地发起/加入Zoom会议，并且使用
                            <br />Zoom具有的屏幕共享、云端录制等功能</p>
                    </li>
                    <li>视频会议室方案
                        <p>我们为不同类型的会议室设计了用户友好型技术
                            <br />和演示增强功能。每个房间都必须具有高质量的
                            <br />音频和视频体验以及轻松的内容共享。</p>
                    </li>
                    <li>研讨会方案
                        <p>将Zoom研讨会产品融入方案设计，我们帮助用户
                            <br />在满足各种场景应用和成本之间取得平衡，对大
                            <br />型培训室的设计与建造也有丰富的经验。</p>
                    </li>
                    <li>Zoom私有化部署
                        <p>私有化有助于创建高级别的安全，<br />通过结合技术设计和实施工艺，<br />我们为客户定制的私有云/混合云方案，</p>
                    </li>
                </ul>
            </div>
            <p><a class="well-button" type="orange" target="_parent" href="../views/contact.html">30天免费试用</a></p>
        </article>
    </div>
    <div class="cloud-view-c">
        <article class="article-content">
            <p class="view-title clearF"><span><img src="../../src/images/cloud/img8.png" alt=""><span>高效愉悦的云办公方案</span></span></p>
            <p>飞书整合即时沟通、日历、在线文档、云盘、应用中心等功能于一体
                <br />提供品质卓越的云协作体验，成就组织和个人，使协作和管理更高效、更愉悦</p>
            <img class="response-img" src="../../src/images/cloud/img2.png" alt="">
        </article>
    </div>
    <div class="cloud-view-d">
        <article class="article-content">
            <p class="view-title">全面专业的服务支持</p>
            <p>卓思韦尔是飞书官方授权的合作伙伴，
                <br />能够为客户提供产品服务推广和分销、软件全生命周期的服务支持。</p>
            <img src="../../src/images/cloud/img3.png" alt="">
            <ul>
                <li>
                    <img src="../../src/images/cloud/img4.png" alt="">
                    <p>上门安装</p>
                </li>
                <li>
                    <img src="../../src/images/cloud/img5.png" alt="">
                    <p>产品部署</p>
                </li>
                <li>
                    <img src="../../src/images/cloud/img6.png" alt="">
                    <p>产品培训</p>
                </li>
                <li>
                    <img src="../../src/images/cloud/img7.png" alt="">
                    <p>技术指导</p>
                </li>
            </ul>
            <p class="btn">
                <a class="well-button" type="orange" target="_blank" href="https://www.feishu.cn/?tracking_code=7010o000002GpwXAAS">了解飞书</a>
                <a class="well-button" type="orange" target="_blank" href="https://www.feishu.cn/create/?tracking_code=7010o000002GpwYAAS">注册下载飞书APP</a>
            </p>
        </article>
    </div>
    <div class="cloud-view-e">
        <article class="article-content">
            <div class="micorosoft"></div>
            <p class="title">适用于企业客户的微软Teams协作方案</p>
            <p class="text">微软Teams会议室方案提供了完整的会议体验，可将高清视频，音频和内容共享带到各种规模的会议中，
                <br />不论是小型、中型还是大型会议室，非常易于使用，部署和管理。
                <br />通过一键式启动会议，然后立即将内容投影到会议室中的显示器并共享给远程参与者。</p>
            <div class="e-content">
                <p>我们是Microsoft的合作伙伴，
                    <br />通过为您提供更智能的办公工具来改善组织的运作方式，
                    <br />为未来的协作方式提供工作场所的转换。
                    <br />为此，我们将最佳的Microsoft技术引入您的企业，
                    <br />使其与您的协作策略和业务目标保持一致。</p>
                <div>
                    <p>我们的服务包括</p>
                    <p class="clearF">
                        <span>Office365账号部署</span>
                        <span>Teams会议室集成</span>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="cloud-view-f">
        <p class="title">了解我们如何帮助近百家企业
            <br />实现数万人的云协作</p>
        <ul style="margin-top: 20px;">
            <li><img src="../../src/images/cloud/logo1.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo2.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo3.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo4.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo5.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo6.png" alt="" style="width: 130px; margin-left: -65px; top: 103px;"></li>
            <li><img src="../../src/images/cloud/logo7.png" alt=""></li>
        </ul>
        <ul>
            <li></li>
            <li><img src="../../src/images/cloud/logo8.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo9.png" alt="" style="top: 117px;"></li>
            <li><img src="../../src/images/cloud/logo10.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo11.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo12.png" alt="" style="width: 130px; margin-left: -65px; top: 93px;"></li>
            <li><img src="../../src/images/cloud/logo13.png" alt=""></li>
            <li></li>
        </ul>
        <ul style="height: 280px;">
            <li><img src="../../src/images/cloud/logo14.png" alt="" style="width: 130px; margin-left: -65px; top: 93px;"></li>
            <li><img src="../../src/images/cloud/logo15.png" alt="" style="top: 117px;"></li>
            <li><img src="../../src/images/cloud/logo16.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo17.png" alt=""></li>
            <li><img src="../../src/images/cloud/logo18.png" alt="" style="width: 130px; margin-left: -65px; top: 93px;"></li>
            <li><img src="../../src/images/cloud/logo19.png" alt="" style="top: 117px;"></li>
            <li><img src="../../src/images/cloud/logo20.png" alt="" style="width: 130px; margin-left: -65px; top: 93px;"></li>
        </ul>
        <p><a class="well-button" type="orange" target="_parent" href="../views/case.html">了解更多</a></p>
    </div>
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />

    <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/cloud.js"></script>
</body>
</html>