<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/plan.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=computer" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/computer/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/wiring/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">机房解决方案</p>
                    <p>帮您告别千头万绪的IT管理！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="plan-view-a">
        <article class="article-content">
            <p class="view-title">机房整体解决方案</p>
            <p>机房是企业最重要的IT资产，而IT基础架构的建设亦是企业数字化转型中最优先投入的预算项目。</p>
            <p>机房是企业的核心中枢，标准的机房设计和建造不仅仅限于面积的大小，</p>    
            <p>还要考虑诸多因素，比如防水，消防，配电，线缆选型、智能化运维等。</p>
            <p class="btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">预约演示</a></p>
        </article>
    </div>
    <article class="article-content plan-view-b">
        <p class="view-title">我们的机房解决方案为客户带来的三个价值</p>
        <ul>
            <li>
                <img src="../../src/images/computer/img1.png" alt="">
                <p class="title">专业的机房规划</p>
                <p>避免混乱的线缆交错无序，
                    <br />无头绪的线头混乱的管理带来的低效工作。</p>
            </li>
            <li>
                <img src="../../src/images/computer/img2.png" alt="">
                <p class="title">稳定的系统搭建</p>
                <p>从设备规划、基建到机房装修，
                    <br />以稳定的系统搭建来保障机房的安全运行。</p>
            </li>
            <li>
                <img src="../../src/images/computer/img3.png" alt="">
                <p class="title">本地&远程管理</p>
                <p>通过3D可视化实现机房的现代化运维管理，
                    <br />在本地&远程随时掌握机房状态。</p>
            </li>
        </ul>
    </article>
    <div class="plan-view-c special-view-c">
        <article class="article-content">
            <div>
                <div class="content-a">
                    <p class="title"><span class="view-c-computer-a"></span>MDF主机房建设</p>
                    <div>MDF是企业重要的IT基础架构，它集成了网络安全，服务器、存储，以及云和语音等系统，对制冷、环境监控、基建等方面都有专业的标准。我们能够为客户提供成熟的机柜、网络、服务器、存储等基础架构建设，以及虚拟化、负载均衡和病毒防护在内的安全系统部署。</div>
                </div>
                <img src="../../src/images/computer/img14.png" alt="">
            </div>
            <div>
                <img src="../../src/images/computer/img15.png" alt="">
                <div class="content-b">
                    <p class="title"><span class="view-c-computer-b"></span>IDF子机房建设</p>
                    <div>IDF机房是楼宇建设中负责水平布线子系统的中枢部分，集成接入层面的网络设备，它承载着每层楼网络数据交换的职责。我们设计建造的IDF符合配电、制冷、防尘、防水、防火等要求，能够很好的配合MDF主机房的功能、实现稳定的网络传输。</div>
                </div>
            </div>
        </article>
    </div>
    <div class="plan-view-l">
        <article class="article-content">
            <p class="title"><span class="view-c-computer-c"></span>机房相关服务</p>
            <div class="l-view-content">机房建设会受到许多因素的影响，这些因素包括机房类型、地点、面积、装修、建筑架构等。我们设计并提供可靠的解决方案和服务，以帮助客户部署满足当前和未来发展需要的IT基础架构，同时有效提升运营效率、保障建筑控制系统与IT网络安全。</div>
            <ul class="l-view-service">
                <li>
                    <p>机房运维巡检</p>
                    <img src="../../src/images/computer/img4.png" alt="">
                </li>
                <li>
                    <p>机房升级/迁移</p>
                    <img src="../../src/images/computer/img5.png" alt="">
                </li>
                <li>
                    <p>机房建设咨询</p>
                    <img src="../../src/images/computer/img6.png" alt="">
                </li>
                <li>
                    <p>机房建设标准定制</p>
                    <img src="../../src/images/computer/img7.png" alt="">
                </li>
            </ul>
        </article>
    </div>
    <article class="article-content plan-view-d">
        <p class="view-title">案例展示
            <br />我们已成功交付超过200个现代化机房，具有丰富的设计和实施经验。</p>
        <ul style="padding-top: 50px;">
            <li>
                <img class="response-img" src="../../src/images/computer/img8.png" alt="">
                <p class="title"><span>机房</span></p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/computer/img9.png" alt="">
                <p class="title"><span>桥架系统</span></p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/computer/img10.png" alt="">
                <p class="title"><span>电池管理</span></p>
            </li>
        </ul>
        <ul>
            <li>
                <img class="response-img" src="../../src/images/computer/img11.png" alt="">
                <p class="title"><span>机架管理</span></p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/computer/img12.png" alt="">
                <p class="title"><span>标识管理</span></p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/computer/img13.png" alt="">
                <p class="title"><span>机房配线</span></p>
            </li>
        </ul>
    </article>

    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>