<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/culture.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=culture" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/culture/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/culture/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">企业文化</p>
                    <p>从现在开始实现企业的数字化战略</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <article class="article-content culture-view-a">
        <p>将卓思韦尔文化的"灵魂"凝聚在公司的服务、 信誉、品牌和市场竞争中</p>
        <p>打造多元化、国际化的公司</p>
        <ul>
            <li>
                <img class="response-img" src="../../src/images/culture/img1.png" alt="">
                <p class="title">使命</p>
                <p>为客户创新，为他们的商业提供动力。技术方案创新，让IT新技术服务普惠更多用户。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/culture/img2.png" alt="">
                <p class="title">愿景</p>
                <p>用IT新技术服务重新定义音视频及弱电集成行业，成为全球的领先者，为我们的客户、员工及合作伙伴提供可持续的价值。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/culture/img3.png" alt="">
                <p class="title">价值观</p>
                <p>创新·专业·严谨·远见</p>
            </li>
        </ul>
    </article>
    <div class="culture-view-b">
        <article class="article-content">
            <p class="title">卓思韦尔的力量</p>
            <p>将文化和竞争力相结合是卓思韦尔的力量之源，它帮助我们创造令员工和客户都满意的商业成果。</p>
            <div class="b-img">
                <img class="response-img" src="../../src/images/culture/img6.jpg" alt="">
                <ul>
                    <li class="active" style="top: 0px; z-index: 20;">
                        <p>创新专业</p>
                        <div class="text"><p>不固守陈规、盲目否定，坚持寻找最优解并将知识技能在团队中传承。</p></div>
                    </li>
                    <li style="top: 80px; z-index: 19;">
                        <p>严谨执着</p>
                        <div class="text"><p>做事有章法、有理有据，行事严谨，以实施为依据。</p></div>
                    </li>
                    <li style="top: 160px; z-index: 18;">
                        <p>保持远见</p>
                        <div class="text"><p>持续学习并与有前瞻思维的人合作，保持技术、思维和管理观念的领先。</p></div>
                    </li>
                    <li style="top: 240px; z-index: 17;">
                        <p>诚实守信</p>
                        <div class="text"><p>坚持诚实守信、敢于担当，做事不将就精益求精。</p></div>
                    </li>
                    <li style="top: 320px; z-index: 16;">
                        <p>开放合作</p>
                        <div class="text"><p>相信合作总比单干强，保持谦逊、坦诚沟通、听取他⼈的意见。</p></div>
                    </li>
                </ul>
            </div>
        </article>
    </div>
    <div class="contact-tem culture-view-c">
        <img class="response-img" src="../../src/images/culture/img5.png" alt="">
        <div class="embed">
            <div>
                <p class="title">快来加入我们</p>
                <p>近年来，卓思韦尔保持业绩的稳步增长，同时正在快速布局平台生态，</p>
                <p>是极具潜力的IT信息综合性服务公司</p>
                <p>我们需要优秀您加入我们的团队！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/join.html">加入我们</a></p>
            </div>
        </div>
    </div>
    
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />

    <!-- <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/culture.js"></script> -->
</body>
</html>