<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/digital.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=digital" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/digital/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/digital/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">数字化展厅</p>
                    <p>前卫的设计理念，让展览展示玩出新花样！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="digital-view-a">
        <article class="article-content">
            <p class="view-title">通过展示来传达信息</p>
            <p class="view-title" style="margin-bottom: 30px;">是现代公司数字媒体战略的关键组成部分</p>
            <p>在当今的商业环境中，交流和理解信息至关重要。设计利用技术来传达您的信息的解决方案是我们的专长。</p>
            <p>我们为客户带来炫目的显示、智能的交互、便捷的管理等感受，使您的工作更加轻松和愉悦。</p>
            <p class="btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">预约演示</a></p>
        </article>
    </div>
    <article class="article-content digital-view-b">
        <p class="view-title">从创意到复杂的集成</p>
        <p class="view-title">我们在数字化展示领域拥有专业而丰富的经验</p>
        <ul>
            <li>
                <img src="../../src/images/digital/img1.png" alt="">
                <p class="title">前卫的设计理念</p>
                <p>基于对展示内容的深度理解，
                    <br />兼顾受众的心理和感受，
                    <br />我们为客户设计符合展示需要的最佳方案。</p>
            </li>
            <li>
                <img src="../../src/images/digital/img4.png" alt="">
                <p class="title">先进的展示技术</p>
                <p>为实现设计理念，
                    <br />我们将3D、VR、拼接融合、语音识别等先进的技术进行融合，
                    <br />形成新的展示格局和沉浸式感受。</p>
            </li>
        </ul>
    </article>
    <article class="article-content">
        <img class="response-img" src="../../src/images/digital/img15.png" alt="">
    </article>
    <div class="digital-view-c special-view-c">
        <article class="article-content">
            <div>
                <div class="content-a">
                    <p class="title"><span></span>视效展示设计</p>
                    <div>大型场景的展示需要使用更震撼的形式进行表现，例如投影融合、LED拼接等。将多种显示系统进行集成，才能带来更加震撼、更加深刻的观看体验。</div>
                </div>
                <img src="../../src/images/digital/img6.png" alt="">
            </div>
            <div>
                <img src="../../src/images/digital/img7.png" alt="">
                <div class="content-b">
                    <p class="title"><span></span>背景音乐/广播系统设计</p>
                    <div>展厅的背景广播系统不仅需要考虑到本身系统的设计，例如：分区、广播、对接消防等。还需要从审美的角度进行考虑，不仅要保障听觉的感受，视觉上更要整洁、自然。</div>
                </div>
            </div>
            <div>
                <div class="content-c">
                    <p class="title"><span></span>沉浸式体验设计</p>
                    <div>借助多年的实践经验，从构思设计开始，我们将音频、视频、灯光与环境进行交互，让用户获得身临其境的体验。</div>
                </div>
                <img src="../../src/images/digital/img8.png" alt="">
            </div>
            <div>
                <img src="../../src/images/digital/img9.png" alt="">
                <div class="content-d">
                    <p class="title"><span></span>智能流媒体管理平台</p>
                    <div>媒体管理方案可以实现远程内容分发、远程部署、代理发布和流程审批的功能，轻松管理大型的媒体展示，通过新型的内容制作和分发工具，实现多团队的在线编辑和管理。</div>
                </div>
            </div>
        </article>
    </div>
    <article class="article-content digital-view-d">
        <p class="view-title">进一步了解</p>
        <p class="view-title">数字化展示方案的应用</p>
        <ul style="padding-top: 50px;">
            <li>
                <img class="response-img" src="../../src/images/digital/img10.png" alt="">
                <p class="title"><span>企业展厅</span></p>
                <p>融合先进设计与技术，完美展示企业的历史与文化，为访客建立美好印象。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/digital/img12.png" alt="">
                <p class="title"><span>博物馆</span></p>
                <p>创建沉浸式的体验，让每一件藏品淋漓尽致的演绎背后的精彩故事。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/digital/img11.png" alt="">
                <p class="title"><span>零售商店</span></p>
                <p>通过我们可靠的内容，部署和管理策略，使客户参与零售体验。</p>
            </li>
        </ul>
        <ul>
            <li>
                <img class="response-img" src="../../src/images/digital/img13.png" alt="">
                <p class="title"><span>数字标牌</span></p>
                <p>通过互动屏、视频墙来引导您的访客并减轻管理负担。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/digital/img14.png" alt="">
                <p class="title"><span>数据可视化</span></p>
                <p>将您的数据转换成可影响、触发受众行动的图形。</p>
            </li>
            <li>
                
            </li>
        </ul>
    </article>
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>