<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/globalization.min.css">
</head>

<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=globalization" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/globalization/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/globalization/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">全球服务</p>
                    <p>了解我们如何帮助客户成长</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <article class="article-content global-view-a">
        <p>卓思韦尔拥有丰富的经验，专业的知识和资源</p>
        <p>能够帮助客户成功进行全球部署</p>
        <ul class="list">
            <li>
                <img class="response-img" src="../../src/images/globalization/img1.png" alt="">
                <p class="title">安全可靠</p>
                <p>信誉有保障</p>
                <p>资金安全性高</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/globalization/img2.png" alt="">
                <p class="title">服务一致</p>
                <p>标准化的服务水平</p>
                <p>一致的用户体验</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/globalization/img3.png" alt="">
                <p class="title">风险小</p>
                <p>熟悉当地政策法规与税务等政策</p>
                <p>降低企业风险</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/globalization/img4.png" alt="">
                <p class="title">多语言</p>
                <p>提供中文和超过8种本地语言</p>
                <p>的项目对接</p>
            </li>
        </ul>
        <a class="well-button" type="orange" target="_parent" href="../views/contact.html">咨询更多全球化部署攻略</a>
    </article>
    <div class="global-view-b">
        <img class="response-img" src="../../src/images/globalization/img5.png" alt="">
        <div>
            <article class="article-content">
                <p class="title"><span>全球化部署</span></p>
                <p class="b-text">成功部署一个多地点的国际网络需要面临预算、技术、后勤、人员等方面的挑战</p>
                <ul class="b-list">
                    <li>不熟悉当地技术资源、供应商</li>
                    <li>不熟悉境外相关政策、法规</li>
                    <li>各地不同的施工标准不一致、难以管理</li>
                    <li>不熟悉当地技术&实施人员，面临语言和文化差异、沟通困难</li>
                    <li>不熟悉当地增值税、关税等税收费用标准</li>
                    <li>清关文件、程序复杂、不了解产品清关安规知识</li>
                </ul>
            </article>
        </div>
    </div>
    <article class="article-content global-view-c">
        <p class="title">卓思韦尔已经成功的为全球客户完成了多个项目</p>
        <p>我们遵循国际化的标准和流程，拥有覆盖全球的专业技术人员和专业供应商
            <br />组成的强大网络。帮助客户实现全球一致的使用体验，
            <br />同时又不会损失企业在当地文化和个性化方面的创意。 </p>
        <img src="../../src/images/globalization/img6.png" alt="">
    </article>

    <div class="contact-tem">
        <img class="response-img" referrer="no-referrer|origin|unsafe-url" src="../../src/images/contact/contact-us.png" alt="">
        <embed width="100%" height="100%" type="text/html" src="../template/contact.html" />
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>

</html>