<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/plan.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=intelligent" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/intelligent/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/wiring/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">数字化空间管理</p>
                    <p>打造会议生态系统，</p>
                    <p>消除人与空间、数据与决策之间的间隔！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="plan-view-a">
        <article class="article-content">
            <p class="view-title" style="margin-bottom: 0;">从现在开始</p>
            <p class="view-title">享受一次很棒的会议体验</p>    
            <p>专注为全球企业打造会议生态系统，</p>
            <p>建立智慧、高效、安全、易用的空间预定与会议全流程体验，</p>    
            <p>以便让团队可以真正专注于业务本身。</p>    
            <p class="btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">免费试用</a></p>
        </article>
    </div>
    <article class="article-content plan-view-b">
        <p class="view-title">空间已变，管理方式怎能一成不变？</p>
        <p class="view-title">我们为您推动最佳的空间体验</p>    
        <ul>
            <li>
                <img src="../../src/images/intelligent/img1.png" alt="">
                <p class="title">寻找会议室已成为历史</p>
                <p>会议室全满？我们会根据您所需会议时长，
                    <br />自动为您匹配最近可用的会议室，
                    <br />更可一次性预定周期性会议，一键锁定！</p>
            </li>
            <li>
                <img src="../../src/images/intelligent/img2.png" alt="">
                <p class="title">拒绝混乱
                    <br />打造安全工作空间</p>
                <p>公司里常常出现不速之客？通过智慧前台，
                    <br />预登记访客信息，用手机扫码或人脸识别
                    <br />自助签到并实时通知接待人。</p>
            </li>
            <li>
                <img src="../../src/images/intelligent/img3.png" alt="">
                <p class="title">设备运行状态实时掌控</p>
                <p>设备故障运维人员不知道？Meeting Suits
                    <br />依托设备智能监控，实现对会议室内包括灯光、
                    <br />空调、投影仪在内的所有会议室智能设备
                    <br />实现24小时远程监控、激活与维保。</p>
            </li>
        </ul>
    </article>
    <article class="article-content">
        <img class="response-img" src="../../src/images/intelligent/img14.png" alt="">
    </article>
    <div class="plan-view-c special-view-c">
        <article class="article-content">
            <div>
                <div class="content-b">
                    <p class="title"><span class="view-c-intelligent-a"></span>空间预定</p>
                    <div>通过桌面日历、手机与会议室面板一键实现高效的会议预定与可用空间的智能匹配。更可一次性预定长达365天的周期性会议，不再为找会议室而烦恼。</div>
                </div>
                <img src="../../src/images/intelligent/img18.png" alt="">
            </div>
            <div>
                <img src="../../src/images/intelligent/img15.png" alt="">
                <div class="content-a">
                    <p class="title"><span class="view-c-intelligent-b"></span>Guide智慧前台</p>
                    <div>以最舒畅的用户体验，为您打造最安全的工作空间。依托访客预登记系统，通过手机扫码或人脸识别自助签到，并实时通知接待人。更有全面完整的来访历史可供追溯查询。</div>
                </div>
            </div>
            <div>
                <div class="content-b">
                    <p class="title"><span class="view-c-intelligent-c"></span>设备智能监控</p>
                    <div>实现对会议室内包括灯光、空调、投影仪在内的所有视频会议智能设备实施24小时远程激活、监控与维保。</div>
                </div>
                <img src="../../src/images/intelligent/img16.png" alt="">
            </div>
            <div>
                <img src="../../src/images/intelligent/img17.png" alt="">
                <div class="content-a">
                    <p class="title"><span class="view-c-intelligent-d"></span>资源使用数据分析</p>
                    <div>为企业提供真实完整的资源使用数据，通过数据分析进一步提高资源利用率，以及谁在浪费资源、拖延会议等。</div>
                </div>
            </div>
        </article>
    </div>
    <article class="article-content plan-view-d">
        <p class="view-title">丰富的应用集成，定制化的集成方案</p>
        <ul style="padding-top: 50px;">
            <li>
                <img class="response-img" src="../../src/images/intelligent/img8.png" alt="">
                <p class="title"><span>丰富的第三方集成</span></p>
                <p>现已集成Google Calendar、Office 365、Exchange等日历资源，并已对Zoom会议深度优化。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/intelligent/img9.png" alt="">
                <p class="title"><span>众多硬件支持</span></p>
                <p>可通过IoT标准协议与主流设备进行连接，同时与众多设备合作伙伴共同开发通信标准。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/intelligent/img10.png" alt="">
                <p class="title"><span>SaaS</span></p>
                <p>为中小企业轻资产部署，我们提供的首选解决方案，无需运维人员，通过网络即可在线开通使用Meeting Suits全部功能。</p>
            </li>
        </ul>
        <ul>
            <li>
                <img class="response-img" src="../../src/images/intelligent/img11.png" alt="">
                <p class="title"><span>私有化部署</span></p>
                <p>可为大型企业内部独立部署，通过私有云或IDC机房，独立安装部署我们的管理系统，满足企业级安全标准。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/intelligent/img12.png" alt="">
                <p class="title"><span>可定制集成</span></p>
                <p>可针对您现有的企业应用进行二次定制化开发，深度集成您的办公会议系统及日程管理系统。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/intelligent/img13.png" alt="">
                <p class="title"><span>一站式解决方案</span></p>
                <p>作为一站式综合解决方案提供商，不仅为您提供出色的产品，同时为您提供集设计规划、安装施工、调试部署等一站式专业服务。</p>
            </li>
        </ul>
    </article>
    <div class="contact-tem plan-view-f">
        <img class="response-img" src="../../src/images/culture/img5.png" alt="">
        <div class="embed">
            <div>
                <p class="title">专业的解决方案，开放的系统平台</p>
                <p>我们为客户提供最有价值解决方案的同时，</p>
                <p>还与业内众多软硬件提供商建立开放的系统接入与设备支持，</p>    
                <p>并与合作伙伴积极共创行业生态的良性发展。</p>
                <ul>
                    <li><img src="../../src/images/intelligent/logo1.png" alt=""></li>
                    <li><img src="../../src/images/intelligent/logo2.png" alt=""></li>
                    <li><img src="../../src/images/intelligent/logo3.png" alt="" style="width: 100px; margin-left: -50px; top: 105px;"></li>
                    <li><img src="../../src/images/intelligent/logo4.png" alt="" style="width: 50px; margin-left: -25px; top: 90px;"></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">获取更多详情</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>