<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/swiper.min.css">
    <link rel="stylesheet" href="../../src/style/join.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=join" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/join/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/join/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">职业发展</p>
                    <p>和我们一起成为定义未来的人！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="join-view-a">
        <article class="article-content">
            <p class="join-title">未来办公中，一些令人兴奋的事尚未被定义</p>
            <img src="../../src/images/join/img1.png" alt="">
            <p class="a-text">我们正在深入探究如何打通工作场所与协作的场景，发挥数字化管理的全部潜力，这需要将人、环境与科技作为要素应用到解决方案中。</p>
            <div class="a-info">
                <p>在复杂动态的未来办公环境中，工作场所正在从孤岛式的管理向融合式的数字化管理转变。</p>
                <p>我们惊奇的看到，管理者和组织可以通过它来更好的实现战略目标。</p>
                <a href="./culture.html" class="well-button" type="orange" target="_parent">了解更多</a>
            </div>
        </article>
    </div>
    <div class="join-view-b">
        <article class="article-content">
            <div class="b-content-a">
                <div class="b-text">
                    <p class="join-title">和我们一起成为定义未来的人</p>
                    <p class="b-text-p">作为全球可信赖的“IT新技术服务”的倡导者，卓思韦尔始终专注于新技术的实践和成功，为客户提供优质的综合服务，实现卓越的客户价值。</p>
                    <div class="b-text-deep">
                        <p>如果您是一个富有创造力，好奇心和协作能力的人，并且热衷于解决各种问题，我们欢迎您的加入！</p>
                    </div>
                </div>
                <div class="b-img">
                    <img src="../../src/images/join/img2.png" alt="">
                </div>
            </div>
            <div class="b-content-b">
                <div class="b-img">
                    <img src="../../src/images/join/img3.png" alt="">
                </div>
                <div class="b-text">
                    <p class="join-title">创建自己的事业</p>
                    <p class="join-title">这里为每个人提供了机会</p>
                    <p class="b-text-p">我们一直关注员工成长，提供更好的福利以增强员工体验并推动积极的业务成果。我们为每一位员工提供职业发展的平台，也相信每一位员工的加入都会使我们更富有活力和创造力。</p>
                    <div class="b-text-deep">
                        <p>完善的人才培养制度 · 具有竞争力的薪酬</p>
                        <p>无息购房贷款 · 完善的五险一金</p>
                        <p>不限量的零食供应 · 定期的团建活动</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/join/img4.png" alt="">
        <div class="embed">
            <div>
                <p class="title">了解我们共同的文化和价值观</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/culture.html">获取更多详情</a></p>
            </div>
        </div>
    </div>
    <div class="join-view-c">
        <article class="article-content swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="staff-info">
                        <p class="title">在成长中找到归属感</p>
                        <p class="info-text">2018年身为应届生我，成功的加入了卓思韦尔这个大家庭，从衔梦来京的小白，到现在可以独自设计，把控项目的小生；工作和生活里点点滴滴的温暖都是我前进的动力，而我一直追随着公司的脚步，共同成长，传承团队认真，严谨，负责的态度；北漂的我很开心加入这个温暖的大家庭。</p>
                        <!-- <a class="well-button" type="orange">了解更多</a> -->
                        <p class="info-name">秦勇彬 设计部工程师</p>
                        <img src="../../src/images/join/img7.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="staff-info">
                        <p class="title">纯粹的环境让每个人变得更出色</p>
                        <p class="info-text">加入卓思韦尔近两年，对公司的第一印象是同事们的友善随和，让我很快就对这个团队产生了好感。随着更加深入的了解，我感受到了团队的纯粹，为了共同的目标拧成一股绳，出色的完成每一个项目。在这里，我体会到了团队协作和团队沟通的力量，在服务好客户的同时也让自己成长和进步。</p>
                        <!-- <a class="well-button" type="orange">了解更多</a> -->
                        <p class="info-name">彭芹 销售部助理</p>
                        <img src="../../src/images/join/img8.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="staff-info">
                        <p class="title">在严谨执着中收获成就感</p>
                        <p class="info-text">加入卓思韦尔已快4年了，他逐渐壮大，我也随之成长。随着公司的发展，财务工作越来越细、越来越专业，提升了我个人的综合素质。我在工作中的谨慎认真负责，得到了领导和同事的认可，也让我建立了成就感。很高兴能为了公司的发展和自己的未来，尽一份力量！</p>
                        <!-- <a class="well-button" type="orange">了解更多</a> -->
                        <p class="info-name">张满英 财务部出纳</p>
                        <img src="../../src/images/join/img9.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="staff-info">
                        <p class="title">迎难而上，持续成长</p>
                        <p class="info-text">在工程部的日常工作中，需要协调安排各部门的协作，保障实施现场一切有序进行，尤其是一些规模庞大、实施复杂程度高、时间紧迫的项目。在卓思韦尔工作的几年中，充分的锻炼了我的组织能力、沟通能力和创新能力，并且学到了很多新的技术，使自己不断的成长进步。</p>
                        <p class="info-name">郭江波 工程部工程师</p>
                        <img src="../../src/images/join/img10.png" alt="">
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/join/img5.png" alt="">
        <div class="embed">
            <div>
                <p class="title">快来加入我们，开启新的工作！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_blank" href="https://jobs.51job.com/all/co5405787.html">查看更多职位</a></p>
            </div>
        </div>
    </div>
    
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />

    <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/join.js"></script>
</body>
</html>