<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/news.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=news" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/news/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/news/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">公司新闻</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <article class="article-content news-view-a">
        <div class="clearF">
            <div class="news-list">
                <ul class="title-list">
                    <p class="news-top"><span>首页</span> > <span>关于我们</span> > <span>公司新闻</span></p>
                    <img class="response-img" src="../../src/images/news/img4.png" alt="">
                    <li>
                        <p>卓思韦尔正式宣布成为Zoom中国区授权经销商</p>
                        <p class="more"><span>了解更多</span></p>
                    </li>
                    <li>
                        <p>IT新技术服务获好评， 「卓思韦尔」持续为「今日头条」提供IT基础架构+云视频协作服务</p>
                        <p class="more"><span>了解更多</span></p>
                    </li>
                    <li>
                        <p>「卓思韦尔」助力「红帽」重建会议系统 “企业沟通体验”跨越式升级</p>
                        <p class="more"><span>了解更多</span></p>
                    </li>
                    <li>
                        <p>「卓思韦尔」音视频协作技术解决方案 在「Google AI中国中心」落地</p>
                        <p class="more"><span>了解更多</span></p>
                    </li>
                </ul>
                <ul class="paging clearF">
                    <li class="active"><span>1</span></li>
                    <li><span>2</span></li>
                    <li><span>3</span></li>
                    <li><span>4</span></li>
                    <li><span>...</span></li>
                    <li><span>8</span></li>
                </ul>
            </div>
            <div class="news-content">
                <div class="title">
                    卓思韦尔正式宣布 <br />成为Zoom中国区授权经销商
                </div>
                <img class="response-img" src="../../src/images/news/img3.png" alt="">
                <p>中国-北京，专业音视频及弱电系统解决方案提供商与服务商「卓思韦尔」，正式宣布成为Zoom中国区授权经销商及合作伙伴。自2015年开始，卓思韦尔将Zoom系统正式引入“IT新技术服务”体系，为Uber、滴滴、今日头条、货车帮、水井坊等众多知名企业提供了云视频会议与协作解决方案。目前，卓思韦尔已成为Zoom在中国最重要的合作伙伴之一。</p>
                <p>Zoom是全球云视频会议的领导者，通过创新的视频会议、会议室管理、视频研讨会等解决方案来改善企业沟通和运营的效率，提升员工满意度，“传递快乐工作的力量”。</p>
                <p>自卓思韦尔成立以来，以“IT新技术服务”为客户创造价值一直是卓思韦尔所秉承的使命，而Zoom正是其中一个重要的解决方案。我们通过Zoom云视频技术与服务帮助客户改变他们的沟通和协作方式。此次正式签订中国区授权合作伙伴协议，卓思韦尔为客户能够提供更多样化的方案与选择。</p>
                <p>作为Zoom在中国业务布局的重要部分，卓思韦尔在国内已成功交付了超过3000个Zoom会议室项目。卓思韦尔围绕Zoom系统给客户提供了更多定制化的增值服务，包括系统设计、安装、实施、交付等，持续性为用户提供培训和支持。</p>
                <p>随着企业团队协作方式的改变、办公环境和会议形式也在快速发展，卓思韦尔在服务客户的过程中发现，一些客户正面临着转型，同时也需要重新定义工作场所和会议室的协作标准，这已经成为一种趋势。 卓思韦尔能够提供可以改善沟通和协作的解决方案，而Zoom的云视频会议系统正完美的契合了这一需求。</p>
                <p>此外，卓思韦尔为客户不仅仅提供公有云服务，还可以帮客户建立混合云，私有云等多样化的解决方案。凭借卓思韦尔在AV、弱电系统解决方案方面的专业知识和丰富经验，加上Zoom强大的产品功能和协作能力，我们期待更好的为客户提供服务，共同创造优质的客户体验。 </p>

                <ul class="turn" style="margin-top: 30px;">
                    <li>
                        <span>上一篇</span>
                        <span>「卓思韦尔」音视频协作技术解决方案 在「Google AI中国中心」落地</span>
                        <a href=""></a>
                    </li>
                    <li>
                        <span>下一篇</span>
                        <span>IT新技术服务获好评， 「卓思韦尔」持续为「今日头条」提供IT基础架构+云视频协作服务</span>
                        <a href=""></a>
                    </li>
                </ul>
                <ul class="turn turn-top">
                    <li>
                        <span>上一篇</span>
                        <a href=""></a>
                    </li>
                    <li>
                        <span>下一篇</span>
                        <a href=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>