<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/partner.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=partner" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/partner/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/partner/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">合作伙伴</p>
                    <p>确保获得最高水平的产品和服务！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <article class="article-content partner-view-a">
        <p>在设计理想的数字化解决方案时，我们将与领先的产品、技术供应商合作
            <br />我们的合作伙伴关系可帮助我们根据客户的需求，选择最佳的产品和技术。
            <br />我们强大的制造商关系能够确保您将获得最高水平的产品和服务。</p>
        <ul class="a-tab">
            <li class="active"><span tab="1">音视频</span></li>
            <li><span tab="2">IT技术架构</span></li>
            <li><span tab="3">视频会议</span></li>
        </ul>
        <div class="a-content">
            <div class="active" tab="1">
                <img src="../../src/images/partner/logo1.png" alt="">
                    <img src="../../src/images/partner/logo2.png" alt="">
                    <img src="../../src/images/partner/logo3.png" alt="">
                    <img src="../../src/images/partner/logo4.png" alt="">
                    <img src="../../src/images/partner/logo5.png" alt="">
                    <img src="../../src/images/partner/logo6.png" alt="">
                    <img src="../../src/images/partner/logo7.png" alt="">
                    <img src="../../src/images/partner/logo8.png" alt="">
                    <img src="../../src/images/partner/logo9.png" alt="">
                    <img src="../../src/images/partner/logo10.png" alt="">
                    <img src="../../src/images/partner/logo11.png" alt="">
                    <img src="../../src/images/partner/logo12.png" alt="">
                    <img src="../../src/images/partner/logo13.png" alt="">
                    <img src="../../src/images/partner/logo15.png" alt="">
            </div>
            <div class="logo-big" tab="2">
                <img src="../../src/images/partner/logo16.png" alt="">
                    <img src="../../src/images/partner/logo17.png" alt="">
                    <img src="../../src/images/partner/logo18.png" alt="">
                    <img src="../../src/images/partner/logo19.png" alt="">
                    <img src="../../src/images/partner/logo20.png" alt="">
            </div>
            <div class="logo-big" tab="3">
                <img src="../../src/images/partner/logo21.png" alt="">
                    <img src="../../src/images/partner/logo22.png" alt="">
                    <img src="../../src/images/partner/logo23.png" alt="">
                    <img src="../../src/images/partner/logo24.png" alt="">
            </div>
        </div>
    </article>
    
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />

    <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/partner.js"></script>
</body>
</html>