<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/prova.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=prova" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/prova/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/prova/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">Pro AV</p>
                    <p>旨在解决企业在专业音频和专业视频领域的独特需求</p>
                </div>
            </article>
        </div>
    </div>
    <div class="prova-view-a">
        <article class="article-content">
            <p>今天的观众正在以前所未有的方式来消费他们的新闻和娱乐！
                <br />无论是在线直播、录制新闻还是宣布关键的公司战略，
                <br />企业都必须提供无懈可击的观看和收听体验。
                <br />借助包括演播室，录音棚等在内的媒体和娱乐技术集成解决方案，
                <br />为企业搭建专业的AV设施，提供高质量的音频和视频体验。</p>
        </article>
    </div>
    <div class="prova-view-b  special-view-b">
        <article class="article-content">
            <div>
                <img src="../../src/images/prova/img1.png" alt="">
                <div class="content-a">
                    <p class="title"><span></span>录音棚集成</p>
                    <div>录音棚是为了录制人声、电影、歌曲等内容，而去创造特定的录音环境、声学条件而建立专用的录音场所。
                        <br />录音棚的声学设计要求语言清晰、可懂度高，而声学特性的满足，是保障录音品质的最重要的因素。</div>
                    <article class="serve" style="top: 77%; left: -93%;">
                        <p>我们的服务包括以下领域：</p>
                        <p class="clearF">
                            <span>建筑声学设计</span>
                            <span>音频系统设计</span>
                        </p>
                    </article>
                </div>
            </div>
            <div>
                <div class="content-b">
                    <div>按照功能需求，我们可为客户建造音频采样棚、电影游戏混音棚、后期制作棚。在录音室和设备控制室的设计中，根据音频制作的侧重点采用不同的设计和设备选型。</div>
                </div>
                <img src="../../src/images/prova/img2.png" alt="">
            </div>
            <div>
                <div class="content-c">
                    <p class="title"><span></span>演播室集成</p>
                    <div>演播室能够为通过视频进行营销的企业提供业务发展的助力。演播室设计方案围绕视频、音频、灯光、录制编辑、直播、导播等系统进行。
                        <br />其中，对灯光的设计比较考究，除了常规性的灯光来满足摄像的需求以外，还需要考虑到场景、人物、背景、录制类型等因素来调节不同的灯光。</div>
                    <article class="serve" style="top: 100%; left: 80%;">
                        <p>我们的服务包括以下领域：</p>
                        <p class="clearF">
                            <span>灯光设计</span>
                            <span>推流和录像</span>
                            <span>装修设计</span>
                            <span>视频采集</span>
                        </p>
                    </article>
                </div>
                <img src="../../src/images/prova/img3.png" alt="">
            </div>
            <div>
                <img src="../../src/images/prova/img4.png" alt="">
                <div class="content-d">
                    <div>根据客户的需求，我们能够定制多样化的视频录制：
                        <br />1. 4K适用于事件/专题记录
                        <br />2. 8K适用于广告/企业宣传
                        <br />3. 1080P和720P适用于OBS网络推流</div>
                </div>
            </div>
        </article>
    </div>
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>