<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/plan.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=records" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/records/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/wiring/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">企业数据中心解决方案</p>
                    <p>创建灵活、高效、安全的数据中心环境！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="plan-view-a">
        <article class="article-content">
            <p class="view-title" style="margin-bottom: 0;">在新的数字经济中</p>
            <p class="view-title">企业需要不断创新以求生存与发展</p>    
            <p>数据中心承载着企业所有的数据往来，众所周知，数据中心建设要投入大量的资金成本和运维成本，</p>
            <p>而数据中心的规划要具有前瞻性，在建设初期就要考虑到未来技术的变革、系统的升级和扩容问题。</p>    
            <p>运用先进的技术方案，我们对数据中心进行模块化的规划和可视化的管理，</p>    
            <p>提升企业的IT能力，增强效率、安全和灵活性，降低成本。</p>    
            <p class="btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">预约演示</a></p>
        </article>
    </div>
    <article class="article-content plan-view-b">
        <p class="view-title">现代化的数据中心方案</p>
        <p class="view-title">为您打开通往数字时代的正确路径</p>    
        <ul>
            <li>
                <img src="../../src/images/records/img1.png" alt="">
                <p class="title">定制化方案</p>
                <p>兼顾能源、环保和成本的平衡，通过现代设计
                    <br />理念，帮助企业建立符合业务发展的基础架构。</p>
            </li>
            <li>
                <img src="../../src/images/records/img2.png" alt="">
                <p class="title">利于运维和管理</p>
                <p>通过数据的可视化管理，让运维人员随时
                    <br />掌握数据动态并快速作出调整和部署。</p>
            </li>
            <li>
                <img src="../../src/images/records/img3.png" alt="">
                <p class="title">部署灵活</p>
                <p>配合企业业务的变动，灵活调整
                    <br />数据中心的软硬件和系统的部署方案。</p>
            </li>
        </ul>
    </article>
    <div class="plan-view-c special-view-c">
        <article class="article-content">
            <div>
                <div class="content-a">
                    <p class="title"><span class="view-c-records-a"></span>数据中心基础架构建设</p>
                    <div>通过现代化的设计理念，我们为企业设计并集成现代化的数据中心基础架构，包括：机柜、配电、制冷消防、动环、监控等系统，保障数据中心整体环境和设备的稳定运行。</div>
                </div>
                <img src="../../src/images/records/img4.png" alt="">
            </div>
            <div>
                <img src="../../src/images/records/img5.png" alt="">
                <div class="content-b">
                    <p class="title"><span class="view-c-records-b"></span>数据中心设备集成</p>
                    <div>数据中心以存储交换数据为主，对网络设备、网络环境（如带宽和速度）都有非常高的要求。数据中心的数据量非常之大，我们通过提供高品质的服务器、存储器、网络等设备集成，为企业提供一个良好的网络办公环境。</div>
                </div>
            </div>
            <div>
                <div class="content-a">
                    <p class="title"><span class="view-c-records-c"></span>定制化：模块化数据中心</p>
                    <div>我们为企业提供冷热通道、模块化机柜、模块化配电的综合管理方案。模块化数据中心具有管理智能的特点，能够与环境监测和消防系统进行联动，紧急情况下自动打开封闭的门窗，启动气体消防系统，保护数据和人员的安全。此外，模块化数据中心还十分利于节约能源，能够根据环境温度和设备运行负载，自动调整配电与空调系统，降低能源的消耗。</div>
                </div>
                <img src="../../src/images/records/img6.png" alt="">
            </div>
            <div>
                <img src="../../src/images/records/img7.png" alt="">
                <div class="content-b">
                    <p class="title"><span class="view-c-records-d"></span>数据中心云部署</p>
                    <div>数据中心的云部署是目前非常流行的一种数据存储和办公模式，能够节省大量的物理数据中心的建造成本，同时具有更灵活的扩展性。根据企业的业务需求，我们能够为客户定制基于公有云、私有云或混合云的数据中心的云部署服务，通过云端进行办公或对数据进行存储和备份。</div>
                </div>
            </div>
        </article>
    </div>
    <div class="plan-view-e">
        <p class="view-title">数据中心专属服务</p>
        <article class="article-content">
           <div class="view-e-e">
                <p class="title">数据中心咨询规划</p>
                <p>专业团队提供技术咨询，为企业定制适合自身业务发展的数据中心和云部署方案。</p>
           </div> 
           <div class="view-e-f">
                <p class="title">数据中心建设标准定制</p>
                <p>结合现场勘察，通过合理规划和布局为企业定制数据中心建设标准。</p>
           </div> 
           <div class="view-e-g">
                <p class="title">数据中心运维检修</p>
                <p>通过定制3D可视化的管理模式，让后期运维检修更加便利，使突发事件得到有效的处理。</p>
           </div> 
           <div class="view-e-l">
                <p class="title">数据中心迁移</p>
                <p>从定制迁移方案、设备下架、包装搬运到安装，我们保障企业业务的连续、稳定，确保迁移成功。</p>
           </div> 
        </article>
    </div>

    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>