<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/sales.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=case" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/sales/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/sales/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">售后运维</p>
                    <p>了解我们如何帮助客户成长</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="sales-view-a">
        <article class="article-content clearF">
            <p class="title"><span>售后服务SLA</span></p>
            <div class="a-left">
                <p style="padding-right: 168px;"><span>电/邮支持</span></p>
                <p style="padding-right: 54px;"><span>电话回访</span></p>
                <p><span>重大事件现场支持</span></p>
                <p><span>备品备件</span></p>
                <p style="padding-right: 54px;"><span>服务巡检</span></p>
                <p style="padding-right: 168px;"><span>工程师上门</span></p>
                <p class="a-sub-title"><span>服务范围</span></p>
            </div>
            <div class="a-right">
                <p style="padding-left: 168px;"><span>中英文专业顾问</span></p>
                <p style="padding-left: 54px;"><span>平均解决周期</span></p>
                <p><span>响应时间30分钟</span></p>
                <p><span>客户满意度96%</span></p>
                <p style="padding-left: 54px;"><span>7*24小时</span></p>
                <p style="padding-left: 168px;"><span>投诉解决成功率100%</span></p>
                <p class="a-sub-title"><span>服务受理</span></p>
            </div>
        </article>
    </div>
    <div class="sales-view-b">
        <img class="response-img" src="../../src/images/sales/img1.png" alt="">
        <div>
            <article class="article-content">
                <div>
                    <div class="b-info">
                        <p class="title"><span>服务承诺</span></p>
                        <p>我们将确保服务与客户的愿景保持一致，
                            <br />同时保障客户的技术投资获得最大收益。
                            <br />服务的过程将保持</p>
                        <p class="btn"><a  class="well-button" type="orange" target="_parent" href="../views/contact.html">咨询更多详情</a></p>
                    </div>
                </div>
                <div>
                    <ul class="b-list">
                        <li>主动及时的沟通</li>
                        <li>专有的项目管理团队</li>
                        <li>标准的用户体验</li>
                        <li>高标准的交付质量</li>
                        <li>严谨的管理和监控</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
    <article class="article-content sales-view-c">
        <p class="title"><span>运维维保</span></p>
        <p>您可以通过我们对AV&IT基础架构进行运营和维护
            <br />我们的服务团队将会帮助您制定运维计划、
            <br />采集数据、深化分析，不断优化服务的流程和细节
            <br />让企业获得更好的员工体验和满意度</p>
            <p class="btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">咨询更多详情</a></p>
    </article>
    
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/contact/contact-us.png" alt="">
        <embed width="100%" height="100%" type="text/html" src="../template/contact.html" />
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>