<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/plan.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=security" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/security/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/wiring/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">安防监控解决方案</p>
                    <p>综合管理企业安全、实现数字化运营</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="plan-view-a">
        <article class="article-content">
            <p class="view-title" style="margin-bottom: 0;">在智慧建筑中</p>
            <p class="view-title">门禁安防系统需要更加数字化的管理</p>    
            <p>随着科技发展，智能化也越来越受到大多数人的青睐，传统的门禁安防系统已经成为单兵作战模式，</p>
            <p>形成了一座座的数据孤岛，数据存储本地化抓取数据极为不便，每个系统都需专人管理，出现告警还需人工分析。</p>    
            <p>远程登陆还要使用不同的系统来查阅所需数据，智能强大的管理系统让数据不再孤立无援，</p>    
            <p>让世界的距离变得近在咫尺。</p>    
            <p class="btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">预约演示</a></p>
        </article>
    </div>
    <article class="article-content plan-view-b">
        <p class="view-title">现代化的数据中心方案</p>
        <p class="view-title">为您打开通往数字时代的正确路径</p>    
        <ul>
            <li>
                <img src="../../src/images/security/img1.png" alt="">
                <p class="title">智能可视化管理</p>
                <p>对数据孤岛进行分层次的管理，
                    <br />随时随地的抓取所需各个系统的数据，
                    <br />使工作变得更加轻松。</p>
            </li>
            <li>
                <img src="../../src/images/security/img2.png" alt="">
                <p class="title">本地+云的存储管理</p>
                <p>告别传统的单机，单点存储技术，
                    <br />实现安防数据的集中本地存储，云端备份，
                    <br />检测设备存储状态，让数据存储更安全可靠。</p>
            </li>
            <li>
                <img src="../../src/images/security/img3.png" alt="">
                <p class="title">远程管理</p>
                <p>无论是在本地还是远程，
                    <br />都可随时随地管理和监测系统，
                    <br />及时地查看告警事件，
                    <br />有效的争取时间处理应急状况，减少损失。</p>
            </li>
        </ul>
    </article>
    <div class="plan-view-c special-view-c">
        <article class="article-content">
            <div>
                <div class="content-a">
                    <p class="title"><span class="view-c-security-a"></span>建筑安全是企业重中之重</p>
                    <div>我们为企业提供园区闸道，闸机，楼宇门庭等门禁系统。园区闸道能够识别车牌和电子标签。闸机楼宇门庭不仅可以实现人脸识别还可以实现指纹认证，传统IC读卡，密码认证等功能。更可以实现智能考勤功能，便捷的功能可根据需求随意组合。统一化的管理让安保工作更加便捷。</div>
                </div>
                <img src="../../src/images/security/img4.png" alt="">
            </div>
        </article>
    </div>
    <div class="plan-view-g">
        <article class="article-content">
            <p class="title">我们能够为客户设计和实施多种类型的门禁系统解决方案，</p>
            <p class="title">为企业空间、会议室、楼层到商业建筑提供安全和防护。</p>
            <div class="b-content">
                <div class="content-img">
                    <img class="active" src="../../src/images/security/img5.jpg" alt="">
                    <img src="../../src/images/security/img6.jpg" alt="">
                    <img src="../../src/images/security/img7.jpg" alt="">
                    <img src="../../src/images/security/img8.jpg" alt="">
                    <img src="../../src/images/security/img9.jpg" alt="">
                    <img src="../../src/images/security/img10.jpg" alt="">
                </div>
                <ul>
                    <li class="active">读卡/密码型门禁系统</li>
                    <li>指纹识别型系统</li>
                    <li>人脸识别型系统</li>
                    <li>应急逃生系统</li>
                    <li>车牌识别系统</li>
                    <li>标签识别系统</li>
                </ul>
            </div>
        </article>
    </div>
    <div class="plan-view-c special-view-c">
        <article class="article-content">
            <div>
                <div class="content-b">
                    <p class="title"><span class="view-c-security-b"></span>智能监控系统</p>
                    <div>无论是公共安全，道路交通，园区监测还是大厦办公的工作环境都离不开智能监控。现代的智能监控不再只是单机NVR存储数据，还能够准确定位扑捉画面，追踪录音拍摄告警事件，随时随地的通过云端查看数据还原现场及时处理发生的事件。</div>
                </div>
                <img src="../../src/images/security/img6.png" alt="">
            </div>
            <div style="padding-bottom: 80px;">
                <img src="../../src/images/security/img7.png" alt="">
                <div class="content-a">
                    <p class="title"><span class="view-c-security-c"></span>数据存储与备份</p>
                    <div>监控数据的存储就是对还原事件发生的有效证据，按照数据的重要程度我们提供NVR单机存储、本地存储+云端备份、云端存储+本地备份的多种方案来保存数据，通过预留额外的空间来兼顾容灾备份的需要。</div>
                </div>
            </div>
        </article>
    </div>
    <div class="plan-view-e" style="padding-bottom: 0;">
        <p class="view-title">数字化管理</p>
        <article class="article-content" style="padding-bottom: 200px;">
           <div class="view-e-e">
                <p class="title">本地管理</p>
                <p>本地管理通过权限进行分级别管理和操作，为不同的用户设置不同的权限，精准高效的处理告警
                    <br />事件或预判可能会发生的风险。</p>
           </div> 
           <div class="view-e-f">
                <p class="title">远程管理</p>
                <p>当管理员出差或者离开本地办公环境时，远程管理是更便捷的管理方式，通过远程登陆随时随地
                    <br />了解办公环境的状态，在接收到远程告警事件时能及时有效的避免发生损失。</p>
           </div> 
        </article>
    </div>
    
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />

    <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/security.js"></script>
</body>
</html>