<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/swiper.min.css">
    <link rel="stylesheet" href="../../src/style/smart.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=smart" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/smart/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/smart/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">智能会议</p>
                    <p>重新定义会议标准，创建引人入胜的会议空间！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="smart-view-a">
        <article class="article-content">
            <p class="view-title">沟通方式和技术正在变革</p>
            <p class="view-title">会议的标准需要被重新定义</p>
            <p style="padding-top: 30px;">多年来，视频会议一直是业务合作的重要组成部分。</p>
            <p>但是如今，企业需要标准化、简化，可扩展的音视频解决方案，以便员工参与并发挥最佳绩效。</p>
            <p>我们通过技术方案帮助客户实现更佳的会议效果，同时兼顾更优秀的整合能力。</p>
            <p class="btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">获取更多详情</a></p>
        </article>
    </div>
    <article class="article-content smart-view-b">
        <p class="view-title">设计健康的空间</p>
        <p class="view-title">为每个人增强会议体验</p>
        <ul>
            <li>
                <img src="../../src/images/smart/img1.png" alt="">
                <p class="title">体验更佳</p>
                <p>凭借超过20年的专业技术与经验，
                    <br />我们为客户设计提升    
                    <br />音视频体验的最佳集成方案。</p>    
            </li>
            <li>
                <img src="../../src/images/smart/img2.png" alt="">
                <p class="title">简化管理</p>
                <p>为实现更加简化的管理
                    <br />我们将感应技术、物联网技术、
                    <br />云技术进行融合，形成更轻松的会议管理模式。</p>
            </li>
            <li>
                <img src="../../src/images/smart/img3.png" alt="">
                <p class="title">云端协作</p>
                <p>通过网络/移动端开启在线会议和互动，
                    <br />我们为客户打通硬件视频会议
                    <br />与云视频会议系统。</p>
            </li>
        </ul>
    </article>
    <article class="article-content">
        <img class="response-img" src="../../src/images/smart/img24.png" alt="">
    </article>
    <div class="smart-view-c">
        <article class="article-content">
            <div>
                <div class="view-c-content content-a">
                    <p class="title"><span></span>视频会议室</p>
                    <div>通过在整个组织的会议系统中设计和部署一致的技术简化操作，让员工无论在哪间会议室，都可以一键启动会议系统，快速的组织团队协作。为了满足更高级别的会议需求，方案还可对接不同设备和场景，集成更丰富的功能，搭建高度智能化的会议系统。</div>
                </div>
                <div class="swiper-img swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img25.jpg" alt="">
                            <span class="content-icon icon-a"></span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img26.jpg" alt="">
                            <span class="content-icon icon-a"></span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img27.jpg" alt="">
                            <span class="content-icon icon-d"></span>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div>
                <div class="swiper-img swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img28.jpg" alt="">
                            <span class="content-icon icon-b"></span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img29.jpg" alt="">
                            <span class="content-icon icon-e"></span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img30.jpg" alt="">
                            <span class="content-icon icon-e"></span>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="view-c-content content-b">
                    <p class="title"><span></span>可分割的培训室</p>
                    <div>您的会议空间需求会受到许多因素的影响，这些因素包括会议的类型、级别、使用频率、规模等等。我们设计并提供灵活的解决方案，以提供无缝的用户体验，从而使空间既美观又具有技术上的吸引力。</div>
                </div>
            </div>
            <div>
                <div class="view-c-content content-c">
                    <p class="title"><span></span>报告厅</p>
                    <div>我们利用技术来支持营造沉浸式的氛围，综合音视频、舞台灯光、声学性能、环境和使用场景等因素，以震撼和美观的方式放大讯息，限制干扰因素，从而尽情的展现形象和传达战略。</div>
                </div>
                <div class="swiper-img swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img31.jpg" alt="">
                            <span class="content-icon icon-c"></span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../src/images/smart/img32.jpg" alt="">
                            <span class="content-icon icon-c"></span>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </article>
    </div>
    <article class="article-content smart-view-d">
        <p class="view-title">专业设计服务</p>
        <p class="view-title">打造全新智能会议系统</p>
        <ul style="padding-top: 50px;">
            <li>
                <img class="response-img" src="../../src/images/smart/img12.png" alt="">
                <p class="title"><span>视频会议系统设计</span></p>
                <p>举行即兴协作会议，在整个组织的范围内轻松地提高生产力。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/smart/img14.png" alt="">
                <p class="title"><span>音频系统设计</span></p>
                <p>无论是拾音还是扩声，每个座位都能获得清晰的声音体验。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/smart/img13.png" alt="">
                <p class="title"><span>视频系统设计</span></p>
                <p>每个座位都是最佳座位，可以让每个参会者都能观看到清晰的图像。</p>
            </li>
        </ul>
        <ul>
            <li>
                <img class="response-img" src="../../src/images/smart/img15.png" alt="">
                <p class="title"><span>建声设计</span></p>
                <p>通过复杂的设计，创造出沉浸式，无干扰的空间，以表达语音和高冲击力，高能量的声音效果。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/smart/img16.jpg" alt="">
                <p class="title"><span>专业灯光照明设计</span></p>
                <p>动态照亮您的空间，并通过技术增强空间的情感和美感。</p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/smart/img17.png" alt="" style="height: 188px;">
                <p class="title"><span>智能中控系统设计</span></p>
                <p>单击一个按钮即可开启所有会议设备，还能进行场景切换，让氛围和设备匹配会议的需求。</p>
            </li>
        </ul>
    </article>
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.jpg" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />

    <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/smart.js"></script>
</body>
</html>