<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/support.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=support" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/support/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/support/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">专业服务</p>
                    <p>您可以信任卓思韦尔来帮助</p>
                    <p>构建、管理和保护您的技术资产</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <article class="article-content support-view-a">
        <p class="title">我们通过5大核心服务为客户创造无忧体验</p>
        <p>全面的专业服务体系以及全球化系统解决方案</p>
        <p>可帮助企业在全球创建任意规模、标准一致的会议室、展厅、IT基础架构和企业数据中心</p>
        <ul>
            <li>
                <img src="../../src/images/support/img1.png" alt="">
                <p>数字化战略制定</p>
            </li>
            <li>
                <img src="../../src/images/support/img2.png" alt="">
                <p>AV&IT系统集成</p>
            </li>
            <li>
                <img src="../../src/images/support/img3.png" alt="">
                <p>运维&维保</p>
            </li>
            <li>
                <img src="../../src/images/support/img4.png" alt="">
                <p>持续创新</p>
            </li>
            <li>
                <img src="../../src/images/support/img5.png" alt="">
                <p>全球化部署</p>
            </li>
        </ul>
    </article>
    <div class="support-view-b">
        <article class="article-content">
            <div class="clearF">
                <article class="fl">
                    <p class="support-title"><span>数字化战略制定</span></p>
                    <p>有关专业AV&IT的基础架构咨询、标准<br />建立、技术应用等问题的建立和制定，<br />为当前和未来商业发展奠定基础。</p>
                    <div class="info-btn">
                        <a class="well-button" type="orange" target="_parent" href="../views/contact.html">咨询更多</a>
                    </div>
                </article>
                <div class="fr">
                    <img class="response-img" src="../../src/images/support/img6.png" alt="">
                    <div>
                        <p><span>AV&IT  基础架构咨询</span></p>
                        <p><span>AV&IT  基础架构标准设计</span></p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <article class="article-content support-view-c">
        <p class="support-title"><span>IT综合服务</span></p>
        <p style="font-size: 20px;">通过我们以咨询、管理、软件开发相结合的服务，优化您的IT基础架构，<br />为您获得更高的管理能力和业务支持。我们的IT综合服务将帮助您推动和管理创新。</p>
        <div class="serve">
            <div class="serve-li">
                <img src="../../src/images/support/img7.png" alt="">
                <div style="top: 11px; left: -205px;"><i style="left: 100%;"></i><span>产品设计</span></div>
                <div style="top: 79px; left: -250px;"><i style="left: 100%;"></i><span>定制与咨询</span></div>
                <div style="top: 142px; left: -220px;"><i style="left: 100%;"></i><span>定制与咨询</span></div>
                <div style="top: 9px; right: -225px;"><i style="right: 100%;"></i><span>维护与托管</span></div>
                <div style="top: 78px; right: -245px;"><i style="right: 100%;"></i><span>开发与部署</span></div>
            </div>
            <div class="serve-li">
                <img src="../../src/images/support/img9.png" alt="">
                <div style="top: 19px; left: -225px;"><i style="left: 100%;"></i><span>访客管理云</span></div>
                <div style="top: 77px; left: -280px;"><i style="left: 100%;"></i><span>设备管理控制云</span></div>
                <div style="top: 137px; left: -255px;"><i style="left: 100%;"></i><span>智能会议预订云</span></div>
            </div>
            <div class="serve-li">
                <img src="../../src/images/support/img8.png" alt="">
                <div style="top: 3px; right: -175px;"><i style="right: 100%;"></i><span>IT培训</span></div>
                <div style="top: 69px; right: -205px;"><i style="right: 100%;"></i><span>IT架构</span></div>
                <div style="top: 139px; right: -180px;"><i style="right: 100%;"></i><span>IT战略</span></div>
            </div>
        </div>
        <p><a class="well-button" type="orange" target="_parent" href="../views/contact.html">咨询更多详情</a></p>
    </article>
    <div class="support-view-d">
        <article class="article-content">
            <p class="support-title"><span>AV&IT系统集成</span></p>
            <p>涵盖项目全流程的服务，由我们具有专业认证和经验丰富的团队开发定制的解决方案，<br />为实现您的目标探索提出各种选择。</p>
        </article>
        <article class="support-view-d-img">
            <img class="response-img" src="../../src/images/support/img10.png" alt="">
        </article>
    </div>
    <div class="contact-tem">
        <img class="response-img" src="../../src/images/contact/contact-us.png" alt="">
        <embed width="100%" height="100%" type="text/html" src="../template/contact.html" />
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>