<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choicewell</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/plan.min.css">
</head>
<body>
    <embed class="nav-tem" type="text/html" src="../template/nav.html?view=wiring" />
    <div class="banner-view">
        <embed class="header-tem" width="100%" type="text/html" src="../template/header.html" />
        <img class="response-img banner-img" src="../../src/images/wiring/banner.png" alt="">
        <img class="response-img banner-shade" src="../../src/images/wiring/banner-shade.png" alt="">
        <div class="banner-info">
            <article class="article-content">
                <div>
                    <p class="title">结构化布线解决方案</p>
                    <p>建立可靠，可扩展的网络基础架构！</p>
                </div>
            </article>
        </div>
    </div>
    <div class="banner-bom"></div>
    <div class="plan-view-a">
        <article class="article-content">
            <p class="view-title">结构化布线</p>
            <p>通过精心设计集成的结构化布线系统能够为语音、视频、数据等应用程序和管理系统提供支持，</p>
            <p>为企业重要的IT网络基础架构提供动力和可靠的连接。在当今竞争激烈的全球市场中，</p>    
            <p>数字化办公系统需要通过复杂的有线和无线基础设施进行连接。</p>    
            <p>我们通过光纤，铜缆和无线集成实现特定设计性能的需求，通过可靠的网络体系结构以实现最佳数据流。</p>    
            <p>我们提供包括企业，楼宇、园区或工厂布线系统的设计，项目管理和实施服务。</p>
        </article>
    </div>
    <div class="plan-view-c special-view-c">
        <article class="article-content">
            <div>
                <div class="content-a">
                    <p class="title"><span class="view-c-wiring-a"></span>楼宇布线系统</p>
                    <div>随着网络技术的发展，办公环境对网络的依赖和要求越来越高。精心设计的布线系统，能够保障广泛的网络覆盖和稳定的网络速度。在不同区域、楼层间实现无线网络的无缝切换。在实施过程中，采用标准化的设备安装、标签管理、施工标准，达到性能和美观度的平衡，同时有利于未来布线系统的维护和管理。</div>
                </div>
                <img src="../../src/images/wiring/img1.png" alt="">
            </div>
            <div>
                <img src="../../src/images/wiring/img2.png" alt="">
                <div class="content-b">
                    <p class="title"><span class="view-c-wiring-b"></span>园区布线系统</p>
                    <div>园区布线系统包括综合楼宇布线系统和室内外监控门禁布线系统。系统的难点在于布线系统复杂性、传输距离远且损坏率高。我们采用主干线传输+备份传输的方式，通过主干线传输对园区整体布线进行综合管理，另一方面通过备份传输也能避免因工程维护等原因造成的主干线损坏，传输中断。</div>
                </div>
            </div>
            <div>
                <div class="content-c">
                    <p class="title"><span class="view-c-wiring-c"></span>工厂布线系统</p>
                    <div>工厂的环境比较复杂，对布线的抗干扰性，防水性，抗拉伸等特性都有很高的要求。通过精心的设计，我们为不同类型的生产车间规划最佳的机房位置、设计路由、室内和室外线缆，以此来保障生产线的网络稳定。</div>
                </div>
                <img src="../../src/images/wiring/img3.png" alt="">
            </div>
            <div>
                <img src="../../src/images/wiring/img4.png" alt="">
                <div class="content-d">
                    <p class="title"><span class="view-c-wiring-d"></span>预端接光纤布线系统</p>
                    <div>预端接光纤布线系统是定制化的方案，对比现场熔接具有光损率低、节省机柜空间的特点，我们为企业提供这种方案，用来解决数据中心、机房内部的短距离传输。</div>
                </div>
            </div>
        </article>
    </div>
    <article class="article-content plan-view-d">
        <p class="view-title">工艺展示</p>
        <ul style="padding-top: 50px;">
            <li>
                <img class="response-img" src="../../src/images/wiring/img5.png" alt="">
                <p class="title"><span>机房线缆</span></p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/wiring/img6.png" alt="">
                <p class="title"><span>配线架</span></p>
            </li>
        </ul>
        <ul>
            <li>
                <img class="response-img" src="../../src/images/wiring/img7.png" alt="">
                <p class="title"><span>光纤布线系统</span></p>
            </li>
            <li>
                <img class="response-img" src="../../src/images/wiring/img13.png" alt="">
                <p class="title"><span>桌面布线</span></p>
            </li>
        </ul>
    </article>
    <div class="plan-view-e">
        <p class="view-title">结构化布线应用</p>
        <article class="article-content">
           <div class="view-e-a">
                <p class="title">音视频系统</p>
                <p>覆盖会议室、展厅、前台到所有通过屏蔽线缆和光纤传输的布线系统。</p>
           </div> 
           <div class="view-e-b">
                <p class="title">机房/数据中心</p>
                <p>覆盖机房/数据中心设计过程、楼宇建筑和办公空间、机房布局等建设。</p>
           </div> 
           <div class="view-e-c">
                <p class="title">安防与监控</p>
                <p>覆盖监控摄像头和远程无线访问、楼宇自动化系统、智能照明和传感器。</p>
           </div> 
           <div class="view-e-d">
                <p class="title">网络运算</p>
                <p>覆盖智慧建筑的多种技术，如空间云管理、访客云管理、设备云管理、大数据、物联网等。</p>
           </div> 
        </article>
    </div>

    <div class="contact-tem">
        <img class="response-img" src="../../src/images/smart/img20.png" alt="">
        <div class="embed">
            <div>
                <p class="title">与我们的技术专家交谈</p>
                <p class="title">我们会评估您的需求并找到最佳的解决方案！</p>
                <p class="contact-btn"><a class="well-button" type="orange" target="_parent" href="../views/contact.html">联系我们</a></p>
            </div>
        </div>
    </div>
    <embed class="footer-tem" width="100%" height="480px" type="text/html" src="../template/footer.html" />
</body>
</html>