header {
    color: #fff;
    line-height: 30px;
    padding-top: 30px;
    .choicewell {
        display: block;
        width: 230px;
        margin-top: 10px;
    }
    .fr {
        text-align: right;
        .phone {
            font-size: 16px;
            // font-family: MADETOMMY B;
            font-weight: 500;
        }
    }
}