body {
  width: 100%;
  min-width: 100%;
}

.nav-view {
  width: 400px;
  height: 600px;
  background: url("../images/nav/nav-bg.png") no-repeat center;
  background-size: 100% auto;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 60px 0 0 55px;
}

.nav-view:hover > ul > li > a > span {
  opacity: 1;
}

.nav-view a {
  color: #fff;
}

.nav-view > ul {
  padding: 30px 0 30px 35px;
}

.nav-view > ul > li {
  position: relative;
}

.nav-view > ul > li:hover:not(:first-child), .nav-view > ul > li.active {
  font-size: 24px;
}

.nav-view > ul > li:hover:not(:first-child) .sub-nav, .nav-view > ul > li.active .sub-nav {
  display: block;
  opacity: 1;
}

.nav-view > ul > li > a {
  display: block;
  line-height: 40px;
  padding: 13px 0 13px 45px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25px auto;
  transition: font-size .5s;
}

.nav-view > ul > li > a > span {
  opacity: 0;
  transition: opacity .5s;
}

.nav-view > ul > li > a.active {
  font-size: 26px;
}

.nav-view > ul > li .nav {
  background-image: url("../icons/nav.png");
}

.nav-view > ul > li .plan {
  background-image: url("../icons/plan.png");
}

.nav-view > ul > li .services {
  background-image: url("../icons/support.png");
}

.nav-view > ul > li .case {
  background-image: url("../icons/case.png");
}

.nav-view > ul > li .about-us {
  background-image: url("../icons/recruit.png");
}

.nav-view > ul > li .join {
  background-image: url("../icons/about.png");
  background-size: 23px auto;
}

.nav-view > ul > li .home {
  background-image: url("../icons/nav.png");
}

.nav-view > ul > li .contact {
  background-image: url("../icons/contact.png");
}

.nav-view .sub-nav {
  position: absolute;
  top: 0;
  left: 145px;
  font-size: 16px;
  padding: 10px 0 10px 0;
  background: linear-gradient(270deg, rgba(0, 126, 203, 0) 0%, rgba(0, 126, 203, 0.3) 100%);
  border-radius: 10px 0 0 10px;
  z-index: 20;
  opacity: 0;
  display: none;
  transition: all .5s;
}

.nav-view .sub-nav > li {
  display: inline-block;
  font-size: 18px;
  padding: 8px 15px;
  transition: all .5s;
  line-height: 20px;
}

.nav-view .sub-nav > li.active, .nav-view .sub-nav > li:hover {
  font-size: 20px;
}

.nav-view .sub-nav .title {
  font-size: 20px;
  font-weight: 600;
  cursor: default;
}

.nav-view .sub-nav.plan-sub-nav > li {
  padding-left: 30px;
}

.nav-view .sub-nav.plan-sub-nav > .title {
  padding-left: 15px;
}
