<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choicewell</title>
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/header.min.css">
</head>
<body>
    <article class="article-content">
        <header class="clearF">
            <a class="choicewell fl" href="../../index.html" target="_parent"><img class="response-img" src="../../src/icons/choicewell-white.png" alt=""></a>
            <div class="fr">
                <p class="phone">4000-653-082</p>
                <p>English</p>
            </div>
        </header>
    </article>
</body>
</html>