<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choicewell</title>
    <link rel="stylesheet" href="../../src/style/main.min.css">
    <link rel="stylesheet" href="../../src/style/nav.min.css">
    <link rel="stylesheet" href="../../src/style/media-nav.css">
</head>
<body>
    <nav class="nav-view">
        <ul>
            <!-- <li>
                <a class="nav"><span>导航</span></a>
            </li> -->
            <li>
                <a href="../../index.html" target="_parent" class="home"><span>首页</span></a>
            </li>
            <li>
                <a class="plan"><span>解决方案</span></a>
                <ul class="sub-nav plan-sub-nav" style="top: -100px;">
                    <li  class="title">专业音视频</li>
                    <li class="intelligent"><a href="../views/intelligent.html" target="_parent"><span>数字化空间</span></a></li><br />
                    <li class="smart"><a href="../views/smart.html" target="_parent"><span>智能会议</span></a></li><br />
                    <li class="cloud"><a href="../views/cloud.html" target="_parent"><span>云协作</span></a></li><br />
                    <li class="digital"><a href="../views/digital.html" target="_parent"><span>数字化展厅</span></a></li><br />
                    <li class="prova"><a href="../views/prova.html" target="_parent"><span>Pro AV</span></a>

                    <li class="title">IT基础框架</li>
                    <li class="wiring"><a href="../views/wiring.html" target="_parent"><span>结构化布线</span></a></li><br />
                    <li class="computer"><a href="../views/computer.html" target="_parent"><span>机房工程</span></a></li><br />
                    <li class="records"><a href="../views/records.html" target="_parent"><span>企业数据中心</span></a></li><br />
                    <li class="security"><a href="../views/security.html" target="_parent"><span>安防监控</span></a><br />
                </ul>
            </li>
            <li>
                <a class="services"><span>服务支持</span></a>
                <ul class="sub-nav support-sub-nav" style="top: -31px;">
                    <li class="support"><a href="../views/support.html" target="_parent"><span>专业服务</span></a></li><br />
                    <li class="globalization"><a href="../views/globalization.html" target="_parent"><span>全球服务</span></a></li><br />
                    <li class="sales"><a href="../views/sales.html" target="_parent"><span>售后运维服务</span></a></li>
                </ul>
            </li>
            <li>
                <a href="../views/case.html" target="_parent" class="case"><span>客户案例</span></a>
            </li>
            <li>
                <a href="../views/join.html" target="_parent" class="join"><span>职业发展</span></a>
            </li>
            <li>
                <a class="about-us"><span>关于我们</span></a>
                <ul class="sub-nav about-sub-nav" style="top: -100px;">
                    <li class="about"><a href="../views/about.html" target="_parent"><span>公司简介</span></a></li>
                    <li class="partner"><a href="../views/partner.html" target="_parent"><span>合作伙伴</span></a></li>
                    <li class="culture"><a href="../views/culture.html" target="_parent"><span>企业文化</span></a></li>
                    <li class="news"><a href="../views/news.html" target="_parent"><span>新闻动态</span></a></li>
                    <li class="aptitude"><a href="../views/aptitude.html" target="_parent"><span>资质荣誉</span></a></li>
                </ul>
            </li>
            <li>
                <a href="../views/contact.html" target="_parent" class="contact"><span>联系我们</span></a>
            </li>
        </ul>
    </nav>

    <script src="../../src/js/require-2.11.11.min.js" data-main="../../src/js/nav.js"></script>
</body>
</html>